/*Division en la que john mircha trabaja*/
/*despues de custom properties y reseteo empezar con la cabecera*/
/*******Custom Properties*******/
:root {
    /*definicion de colores, usualmente ocupar nombres relacionados*/
    --first-color:#171717; /*1*/
    --first-1-color:#101010; /*2*/
    --first-2-color:#292929; /*3*/
    --first-alpha-color:#171717c8; /*4*/
    --first-hover-alpha-color:#171717c8; /*5*/
    --second-color:#d6d0d0; /*6*/
    --second-hover-color:#d6d0d0; /*7*/
    --second-1-color:#aea7a7; /*8*/
    --second-2-color:#f1f1f1; /*9*/
    --second-alpha-color:#d6d0d0cb; /*10*/
    --second-hover-alpha-color:#d6d0d0cb; /*11*/
    --main-blue-dark: #004697; /*12*/
	--main-blue: #3496ff; /*13*/
	--main-blue-light: #8bbdf2; /*14*/
	--main-pink-dark: #e71484; /*15*/
	--main-pink: #ff1493; /*16*/
	--main-pink-light: #ffb6c1; /*17*/
	--main-purple-dark: #4d3dff; /*18*/
	--main-purple: #c2bcff; /*19*/
	--main-purple-light: #bdb7ff; /*20*/
    --link-color:#d6d0d0; /*21*/
    --text-color:#d6d0d0; /*22*/
    --title-color:#e2e0e0;
    --white-color:#FFF;
    --white-alpha-color:#ffffff80;
    --black-color:#000;
    --black-alpha-color:rgba(0,0,0,0.5);
    /*Definicion de tipografias
    --main-purple-dark: #4d3dffcd;
    --white-alpha-color:#ffffffca;
    */
    --font:sans-serif;
    /*alto de la cabecera*/
    --header-height:3.5rem;
}
/*********Reseto CSS*********/
/*reseteado de modelo de caja*/
html {
    box-sizing: border-box;
    font-family:var(--font);
    font-size:16px;/*definir explicitamente lo que va a equivaler 1rem*/
    scroll-behavior: smooth;/*efecto de animacion del scroll*/
}
*,*::after,*::before{
    box-sizing: inherit;    
}
body {
    margin:0;
    color:var(--text-color);
    background-color: var(--first-color);
}
/*enlaces*/
a {
    color:var(--link-color);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
svg {
    fill: var(--link-color);
    min-height: 100%;
    pointer-events: none;
    transition: all 0.5s ease-out;
}
/*tamaños de tipografias en rems, 
recomendable editar el margin para que despues podamos agregarlo explicitamente*/
h1  {
    margin:0;
    font-size:4rem;
}
h2 {
    margin:0;
    font-size:2.5rem;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    margin:0;
    font-size:1.25rem;
}
h4 {
    margin:0;
    font-size:1rem;
}
h5 {
    margin:0;
    font-size:.85rem;
}
h6 {
    margin:0;
    font-size:.7rem;
}
img, video, audio {
    max-width:100%;
    height:auto;
}
p { /*altura de la linea sea de 1.6, 
    tiene que ver un poco con el tamaño de la letra, como un interlineado*/
    line-height: 1;
    margin: 0;
    font-size: 1.8rem;
}
/*SCROLLBAR*/
::-webkit-scrollbar{
    width: 1rem;
    z-index: -1;
}
::-webkit-scrollbar-thumb {
    background-color: var(--second-alpha-color);
    border-radius: 100vw;
    
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-hover-color);
    
}
/***************************ESTILOS POR DEFECTOS*********************************/
/*MENU*/
.container-animation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    z-index: 999;
}
.bar-animaton{
    width: 100%;
    height: calc(100% /6);
    background-color: var(--link-color);
    transition: transform 1s ease-in-out,background-color .5s ease-in-out;
}
.button-container{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
}
.button-container > button{
    width: 80%;
    height: 50%;
    border-radius: 20px;
    background-color:var(--first-2-color);
    color: var(--second-color);
    font-size: 5rem;
    transition: background-color 0.5s ease-in-out;
}
.button-container > button:hover{
    cursor: pointer;
    background-color: var(--first-1-color);
}
/*HEADER*/
.header-container {
    z-index: 998;
    height: var(--header-height);
    position: fixed;
    width: calc(100% - 1rem);
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 3s ease-in-out;
}
header {
    height: var(--header-height);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    background-size: 300%;
    background-position: left;
    transition: background-position 1s;
}
header *{
    font-size: 3rem;
}
.topic{
    height: 100%;
    width: 60%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transition: width 0.5s ease-in-out,padding 0.5s ease-in-out;
}
.topic > p{
    height: 3.3rem;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    margin: 0;
    color: var(--link-color);
}
.nav-mobile{
    pointer-events: none;
    position: fixed;
    transform: translateX(-100%);
}
.nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.nav > div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav > a{
    padding: 0 1rem;
    height: 100%;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 
.nav > a p{
    margin: 0;
    margin-top: 1px;
    padding: 0;
    text-align: center;
    line-height:1;
    pointer-events: none;
}

.nav > a:hover{
    background-color: var(--second-hover-alpha-color);
    color: var(--first-hover-alpha-color);
}
.nav > a:hover svg{
    fill: var(--first-alpha-color) !important;
}


/*CONTENEDORES Y CUERPO*/
.slides {
    width: 100%;
    background-color: var(--first-color);
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type:block proximity ;/*recibe dos valores, el primero es el eje que quiero controlar
                        (x | y | inline | block| both), para el desplazamiento en x ponemos 
                        la palabra x o inline, para el desplazamiento en y puede ser y o block, 
                        el segundo es si quieres que sea un movimiento mandatorio(efecto mandatory)
                        el otro es proximity tiene que estar mas hacia la otra diapositiva */
}

.slide{
    width: 100%;
    height: inherit;
    scroll-snap-align:center ;/*hacia donde se van a alinear, end (final) | start (inicio) | center*/
}
.slide-container{
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.slide .carousel[data-direction="row"]{
    flex-direction: row;
}
.slide .carousel[data-direction="column"]{
    flex-direction: column;
}

.slide .carousel[data-direction="row"][data-start="end"]{
    flex-direction: row-reverse;
}
.slide [data-direction="column"][data-start="end"]{
    flex-direction: column-reverse;
}
.slide-container .content{
    min-width:100% ;
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
    padding:1rem;
}
.content > h2{
    width: 100%;
    text-align: center;
}
.carousel{
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 1s ease-in-out;
    
}
.slide .carousel[data-direction="column"] .content{
    min-height: calc(100% - var(--header-height));
}

/*GENERICOS*/

/*****************SECCION 1*******************/


/*****************SECCION 2*******************/


/*****************SECCION 3*******************/


/*****************SECCION 4*******************/


/*****************SECCION 5*******************/


/*****************SECCION 6*******************/


/*****************SECCION 7*******************/


/*****************SECCION 8*******************/


/*****************REGLAS*******************/
[data-section="9"] .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
[data-section="9"] ol{
    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
[data-section="9"] ol > li{
    font-size: 1.9rem;
    width: 100%;
    margin: auto;
}
[data-section="9"] ol > li > p{
    text-align: justify;
}
[data-section="9"] .players{
    width: 25%;
    height: 100%;
    padding-left: 2rem;
    overflow: auto;
}
[data-section="9"] .player-container{
    width: 100%;
    height: 3rem;
    display: flex;
    padding: 6px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
}
[data-section="9"] .player-container[data-click="1"]{
    background-color: var(--second-color);
}
[data-section="9"] .player-container[data-click="1"]:hover{
    background-color: var(--second-color);
}
[data-section="9"] .player-container[data-click="1"] p{
    color: var(--first-alpha-color);
    
}
[data-section="9"] .player-container[data-click="1"]:hover p{
    color: var(--first-color);
}
/*SCROLL BAR*/
[data-section="9"] .players::-webkit-scrollbar{
    width: 2px !important;
    z-index: -1;
}
[data-section="9"] .players ::-webkit-scrollbar-thumb {
    background-color: var(--second-alpha-color);
    border-radius: 90vw;
    
}
[data-section="9"] .players ::-webkit-scrollbar-thumb:hover {
    background-color: var(--first-hover-alpha-color);
    
}
[data-section="9"] .player-container:hover{
    background-color: var(--second-hover-alpha-color);
    cursor: pointer;
    
}
[data-section="9"] .player-container:hover p{
    color: var(--first-alpha-color);
    
}
[data-section="9"] .player-container > p{
    pointer-events: none;
    min-width: 50%;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 0.3s ease-in-out;
}
[data-section="9"] .player-container > .delete-player-icon{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    opacity: 0.75;
    transition: opacity 0.3s ease-in-out;
}
[data-section="9"] .player-container > .delete-player-icon svg{
   fill: var(--first-color);
}
[data-section="9"] .player-container > .delete-player-icon:hover{
    opacity: 1;
}
/*****************LOTERY*******************/
[data-section="10"] .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*Cortina*/
[data-section="10"] .cortain{
    position: absolute;
    width: 100%;
    height: calc(100% - var(--header-height));
    top: var(--header-height);
    left: 0;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
[data-section="10"] .cortain > button{
    border-color: transparent;
    width: 50%;
    height: 40%;
    border-radius: 20px;
    background-color:var(--first-2-color);
    color: var(--second-color);
    font-size: 5rem;
    transition: background-color 0.5s ease-in-out;
}
[data-section="10"] .cortain > button:hover{
    cursor: pointer;
    background-color: var(--first-1-color);
}
[data-section="10"] .cards-container{
    width:80%;
    height: 100%;
    overflow: hidden;
}
[data-section="10"] .cards{
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: transform 1s ease-in-out;
}
[data-section="10"] .cards > .card-container{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
[data-section="10"] .card-container > .card{
    width: 35%;
    height: 80%;
}
[data-section="10"] .card-container > .card > .card-front{
    background-color: var(--second-2-color);
}
[data-section="10"] .card-container > .card > .card-front svg{
    fill: var(--first-2-color);
}
[data-section="10"] .card-container > .card > .card-front .img-container-card svg{
    width: 85%;
}
[data-section="10"] .card-container > .card > .card-front *{
    color: var(--first-2-color);
    font-size: 2rem;
    text-align: center;
}
[data-section="10"] .card-container > .card > .card-back{
    background-color: var(--first-2-color);
}
[data-section="10"] .card-container > .card > .card-back *{
    color: var(--second-2-color);
    font-size: 1.6rem;
}
[data-section="10"] .card-container > .card > * {
    padding: 2rem 0.8rem;
}
[data-section="10"] .card-container > .card > * > *{
    margin-bottom: 1rem;
}
[data-section="10"] .text-container{
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    cursor: pointer;
}
.card.flip-effect{
    perspective: 10px;
    transform-style:preserve-3d;
    transition:transform 1s ease-in-out ;
}
.card > .flip-cd{
   position: absolute;
   overflow: hidden;
   border-radius: 50px;
   width: 100%;
   height: 100%;
   border: thick solid transparent;
   transition: border-color 0.5s ease-in-out;
   backface-visibility: hidden; /**back face visibility, cuando tenemos un elemento de interfaz de dos lados,
    va a determinar como se visualizan esas caras, visible es el defecto
    hidden, no tiene efecto en transformaciones de 2 dimensiones*/
}
.card > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.card *{
    text-align: justify; 
}
.card > * > *{
    width: 90%;
}
.card > .card-front{
    transform: rotateY(0deg);
}
.card > .card-back{
    transform: rotateY(180deg);
    background-color:var(--main-blue) ;
}
.flip-effect[data-action="hover"]:hover{
    transform: rotateY(180deg);
}
.card > * > .img-container-card{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flip-effect-active{
    transform: rotateY(180deg);
}

/*Flechas*/
.arrow{
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}
.arrow > svg{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    fill: var(--second-alpha-color);
}
.arrow:hover{
    cursor: pointer;
}
.arrow:hover > svg{
    opacity: 1;
    fill: var(--second-color);
}



/*****************BIBLIOGRAFY*******************/


/*WARNING*/
.warning-container{
    position: fixed;
    bottom: 0;
    left: 5%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--main-blue-light);
    min-height: 7rem;
    max-height: 10rem;
    padding: 1rem 2rem;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}
.warning-container p{
    font-size: 4.5rem;
    color: var(--white-color);

    text-align: justify;
    width: 100%;
}

/*GENERIC*/
.opacity-1{
    opacity: 1;
}
.opacity-0{
    opacity: 0;
}
.display-none{
    display: none;
}
.pointer-events-none{
    pointer-events: none;
}
.visibility-hidden{
    visibility: hidden;
}





.txtC-blue-dark{
    color: var(--main-blue-dark);
}
.bgC-bd{
    background-color: var(--main-blue-dark);
}
.bC-bd{
    border-color:var(--main-blue-dark);
}


.bW-th{
    border-width: thin;
}
.bW-md{
    border-width: medium;
}
.bW-tk{
    border-width: thick;
}
